* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "Poppins", sans-serif;
}

:focus {
  /* TODO */
}

body {
  background-image: linear-gradient(to right, yellow, orangered);
}

input {
  display: block;
  margin: 250px auto;
  height: 50px;
  background: #f5a742;
  border: 0;
  outline-color: orangered;
  font-size: 18px;
  color: #333;
  width: 300px;
  border-radius: 5px;
  padding: 5px;
}

input:focus {
  outline: none;
  border-color: #000;
}

.search-container {
  margin: 0 auto;
  width: 300px;
  height: 30px;
  margin-top: 300px;
  border-radius: 10px;
  text-align: center;
  left: 620px;
}
.search-container input,
.search-container .suggestions {
  text-align: center;
}
.search-container input {
  /* TODO */
}
.search-container .suggestions {
  /* TODO */
}

ul {
  display: block;
  margin: -250px auto;
  width: 300px;
  background: #f5a742;
  max-height: 200px;
  overflow-y: auto;
}
ul.has-suggestions {
  display: block;
}
ul li {
  list-style-type: none;
  font-size: large;
  font-family: "Segoe UI", sans-serif;
}
ul li:hover {
  background: orangered;
}

input {
  /* TODO */
}

.search-container input {
  padding: 12px;
  border-radius: 4px;
  border: 1px solid #ccc;
}

.suggestions {
  position: absolute;
  background: #fff;
  border: 1px solid #aaa;
  border-top: none;
  border-bottom-left-radius: 4px;
  border-bottom-right-radius: 4px;
  max-height: 180px;
  overflow-y: auto;
}

.suggestions ul {
  list-style: none;
  padding: 0;
  margin: 0;
}

.suggestions li {
  padding: 12px;
}

.suggestions li:hover {
  background: #eee;
  cursor: pointer;
}
